* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
    background-color: #ffffff;
}

.logo img {
    width: 130px;
}

.menu ul li {
    float: left;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #1e1e1e;
    padding: 0 25px;
    font-weight: 500;
    font-size: 21px;
}

.menu ul li a.active {
    color: rgb(48, 130, 212);
}

section.banner {
    position: relative;
}

.bannercontent {
    position: absolute;
    top: 0;
    padding: 0 200px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
}

.bannercontent span {
    position: relative;
    background-color: #1f3685;
    padding: 10px;
    height: 44px;
    border-radius: 4px;
    width: 44px;
    text-align: center;
    cursor: pointer;
}

.bannercontent span.pre {
    left: -1rem;
}

.bannercontent span.p {
    left: -1rem;
}

.bannercontent span.nxt {
    right: -1rem;
}

.bannercontent span img {
    width: 12px;
}

.content h1 {
    font-size: 55px;
    margin: 0;
}

.content h4 {
    font-size: 25px;
    margin-bottom: 8px;
    margin-top: 0;
}

.content p {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 20px;
}

section#aboutus {
    padding-top: 50px;
}

.container {
    padding: 0 200px;
}

.d-flex {
    display: flex;
}

.image-about {
    width: 50%;
}

.aboutcontent {
    width: 50%;
    padding-left: 30px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutcontent p {
    font-size: 24px;
    margin: 0px;
}

.aboutcontent h2 {
    font-size: 50px;
    margin-bottom: 18px;
    margin-top: 10px;
}

.aboutcontent pre {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    color: #626262;
    word-spacing: 10px;
    letter-spacing: 1px;
    margin-top: 8px;

}

.aboutcontent p {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    color: #626262;
    word-spacing: 10px;
    letter-spacing: 1px;
    margin-top: 8px;

}

.aboutcontent button {
    background-color: #1f3685;
    color: #ffffff;
    padding: 10px;
    width: 120px;
    font-size: 16px;
    border: 0;
}

section#Services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-title p {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.sec-title h1 {
    text-align: center;
    font-size: 50px;
    color: #1f3685;
}

.imagegallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.imagegallery>div {
    position: relative;
}

.image-cntnt {
    position: absolute;
    background-color: rgb(20 30 10 / 27%);
    width: 100%;
    height: 100%;
    top: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-cntnt:hover {
    background-color: transparent;
}

.image-cntnt h2 {
    margin: 0;
}

.image-cntnt span img {
    width: 70px;
}

.image-cntnt.contract span {
    margin-bottom: 10px;
}

.image-cntnt.contract span img {
    width: 52px;
}

section#Careers {
    background-color: #1f3685;
    padding-top: 30px;
    padding-bottom: 60px;
}

.client h1 {
    color: #ffffff;
    margin-top: 16px;
}

.client p {
    color: #ffffff;
    margin-bottom: 0px;
}

.clientlogo {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
}

.adressarea input#email {
    width: 600px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    height: 36px;
    padding-left: 44px;
}

input#email:focus-visible {
    outline-color: #c2e4ff;
}

.adressarea input#email::placeholder {
    font-size: 18px;
}

input[type="Submit"] {
    background-color: #1f3685;
    border: 0;
    height: 40px;
    width: 100px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.adressarea {
    box-shadow: -2px 2px 8px 0px #00000021;
    width: max-content;
    margin: 0 auto;
    height: 40px;
    border-radius: 6px;
    position: relative;
}

span.mailicon {
    width: 40px;
    height: 39px;
    position: absolute;
    left: 0;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}

span.mailicon img {
    width: 22px;
}

footer#contactus {
    background-color: #e6f0f9;
}

.footsection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.txtfoot ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.txtfoot ul li {
    padding: 8px 0;
}

.txtfoot ul li.cntct {
    padding: 8px 0;
}

.txtfoot ul li a {
    text-decoration: auto;
    font-size: 15px;
    color: #1f2330;
}

.txtfoot ul.cntct li {
    padding-left: 30px;
    background-repeat: no-repeat !important;
    background-size: 26px auto !important;
    background-position: -5px 7px !important;
}

.txtfoot ul.cntct li.ad {
    background: url(../Icons/loc.png);
}

.txtfoot ul.cntct li.ph {
    background: url(../Icons/phone.png);
}

.txtfoot ul.cntct li.inf {
    background: url(../Icons/mail.png);
}

ul.sclmedia {
    float: left;
}

ul.sclmedia li {
    float: left;
}

.txtfoot ul.sclmedia li {
    padding: 30px 25px;
    background-repeat: no-repeat !important;
    background-size: 24px auto !important;
}

.txtfoot ul.sclmedia li.fb {
    background: url(../Icons/fb.png);
}

.txtfoot ul.sclmedia li.insta {
    background: url(../Icons/insta.png);
}

.txtfoot ul.sclmedia li.twitter {
    background: url(../Icons/twitter.png);
}

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright p {
    border-top: 0.6px solid #e4e4e4;
    padding-top: 20px;
    text-align: center;
    margin: 0;
}

@media (max-width:1000px) {
    .imagegallery {
        grid-template-columns: 1fr;
    }
}

@media (max-width:980px) {
    .footsection {
        grid-template-columns: 1fr;
    }
}